.breadcrumb
    .breadcrumb__container
        ul.breadcrumb__list
            li.breadcrumb__item
                a.breadcrumb__link(href=link) One

            li.breadcrumb__item
                a.breadcrumb__link(href=link) Two

            li.breadcrumb__item
                a.breadcrumb__link(href=link) Three

            li.breadcrumb__item
                a.breadcrumb__link(href=link) Four

            li.breadcrumb__item.active
                a.breadcrumb__link(href=link) Current Page

